capstone-ui/target/*
!capstone-ui/target/scala-2.12/
capstone-ui/target/scala-2.12/*
!capstone-ui/target/scala-2.12/capstoneui-fastopt.js

null/
project/target
project/project/target

src/main/resources/*
!src/main/resources/README.md
!src/main/resources/2015_sample.csv
!src/main/resources/stations_sample.csv

target/*
!target/temperatures/
!target/deviations/

target/temperatures/*
target/deviations/*
!target/temperatures/2014/
!target/temperatures/2015/
!target/deviations/2014/
!target/deviations/2015/